* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  padding: 10px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.App-header h1 {
  margin-bottom: 18px;
}

.App-header hr {
  color: white;
  width: 22rem;
}

.main-container {
  margin: 20px auto;
  background-color: #282c34;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .table-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

table {
  padding: 10px;
  border: 2px solid white;
  border-collapse: collapse;
  border-radius: 10px;
}

table tr {
  border-top: 1px solid white;
}

table td, table th {
  padding: 10px;
  border: 1px solid white;
  font-size: 19px;
}

.coin-row {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.coin-row button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 19px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
}

.coin-row button:hover {
  background-color: rgb(12, 12, 223);
}